body {
    background-color: green;
}

h1 {
    text-align: center;
}

/* Pelilauta */
#pelialuta {
    display: block;
    align-self: center;
}



/* Peliruutu */
.peliruutu {
    margin: .5em;
}

/* Pelilaudan vieressä */

#sivuosa {
    float: right;
}