body {
    background-color: #1c8670;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    margin:0;
    padding:0;
}


/* Pelikokonaisuus */
#pelikokonaisuus {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Pelilauta */
#pelilauta {
    position: relative;
    border: 1px solid white;
    width: calc(100% - 10em);
    height: 100%;
}

#pelilauta > div {
    display: block;
    width: 100%;
    height: calc( 1 / attr(koko number, 4) * 100% - attr(koko number, 4) * 0.1em);
}

/* Peliruutu */
.peliruutu, .tiputus {
    display: inline-block;
    border: 1px solid black;
    margin: .1em;
    width: calc( 1 / attr(koko number, 4) * 100% - attr(koko number, 4) * 0.1em );
    height: 100%;
}

.tiputus {
    background-color: lightgreen;
}


svg {
    position: relative;
    box-sizing: inherit;
}

/* Pelilaudan vieressä */

#sivuosa {
    border: 1px solid white;
    width: 10em;
    min-width:min-content;
}

#sivuosa > div {
    display: block;
    padding: 1em;
}

.musta {
    color: black;
}

.valkoinen {
    color: white;
}